dist/
node_modules/
android/.gradle/
android/keystore.properties
android/build/
android/app/build/
android/app/release/
android/capacitor.settings.gradle
android/local.properties
android/.idea/
android/app/src/main/assets/public/
*.keystore
*.jks
